
.un
{
   color: blue;
   background: white;
   border: 1px solid springgreen;
}



.deux
{
    color: #ff0000;
}


.trois
{
   color: rgba(100%, 0, 0, 0.5);
}

.quatre
{
   color: hsl(0, 100%, 50%);
}

.cinq
{
   color: hsla(0, 100%, 50%, 0.5);
}

.transparent{
	color: blue;
	opacity : 0.7;
}