.un {
  color: blue;
  background: white;
  border: 1px solid springgreen; }

.deux {
  color: #ff0000; }

.trois {
  color: rgba(255, 0, 0, 0.5); }

.quatre {
  color: red; }

.cinq {
  color: rgba(255, 0, 0, 0.5); }

.transparent {
  color: blue;
  opacity: 0.7; }

/*# sourceMappingURL=exemple.css.map */
