$couleurBarre: #62C370;
$couleurCurseur: #CC3363;
$couleurPrincipale: #20063B;

input {
  -webkit-appearance: none;
  border: 1px solid white;
  width: 160px;
  height: 20px;
  margin: 10px;
  display: block;
  background: linear-gradient(to right, $couleurBarre 0%, $couleurBarre 100%);
  background-size: 150px 10px;
  background-position: center;
  background-repeat: no-repeat;
}

input[type=range]::-moz-range-track {
  width: 0;
  height: 0px;
  border: none;
}


input:first-of-type {
  margin-top: 14px;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: $couleurCurseur;
}

input::-moz-range-thumb {
  -moz-appearance: none;
  width: 14px;
  height: 20px;
  background: $couleurCurseur;
  border: none;
}


input[type=range]::-ms-track {
  height: 0px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-thumb {
  margin-top: .4rem;
  width: 14px;
  height: 20px;
  background: $couleurCurseur;
  border: none;

}

input[type="reset"] {
  padding: 1rem 2.1rem;
}

.scroll {
  width: 28px;
  height: 100px;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  position: fixed;
  top: 6rem;
  right: 0;
  background: url('../../images/fleche_haut.png') no-repeat 0px 20px;
}

@media screen and (max-width: 728px) {
  .scroll {
    display: none;
  }
}