@import "_variables";

//barre de navigation
nav {
  background-color: $transparentblue;
  color: $transparentblue;
  border-bottom: $lightBorderUnderDiv;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  .navbarbloc {
    text-align: center;

    .navbar {
      text-align: center;
      font-variant: small-caps;
      display: inline-block;

      li {

        display: inline-block;
        width: auto;
        margin-top: 5px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 5px;

      }

      a {
        font-size: 1.3em;
        text-decoration: none;
        color: white;
        @media screen and (min-width: $responsivewidthscreen) {
          font-size: 1.25em;
          color: white;
        }

        &:hover {
          text-decoration: underline;
          color: $darkgray;
        }

        &.disabled {
          color: $lightgray;
          &:hover {
            text-decoration: none;
          }
        }

        &.active {
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}

.navbarspace {
  display: none;
  @media screen and (min-width: $responsivewidthscreen) {
    display: inline-block;
    height: $navbarheight;
  }
}

//header
header {
  margin-bottom: 5px;
  color: white;
  background-color: $blue;
  text-align: center;
  font-variant: small-caps;
  font-size: 1.5em;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 0.5em;
  border-bottom: $lightBorderUnderDiv;
  margin-top: 20px+$navbarheight;

  h1 {
    text-transform: uppercase;
    small {
      color: $lightgray;
      text-transform: lowercase;
    }
  }
}

//fil d'arianne
.breadcrumb {
  font-size: 0.7rem;
  font-weight: lighter;
  margin-bottom: 20px;

  li {
    margin: 0 0.2rem 0 0;
    display: inline;

    &:nth-child(1n + 2) {
      &:before {
        content: " > ";
      }
    }
  }
}

.jumbotron {
  background-color: $lightgray;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  padding: 2%;
  text-align: center;
  border-bottom: $darkBorderUnderDiv;
  p {
    text-align: center;
    padding-top: 1em;
    padding-left: 3%;
    padding-right: 3%;
  }
}

//pagination

.pagination {
  text-align: center;
  margin-top: 0; //margin-left: auto;
  margin-bottom: 1rem;
  li {
    margin: 0 0.2rem 0 0;
    display: inline;
  }
}

