$lightergray:#f9f9f9;
$lightgray:#ccc;
$gray:#666666;
$darkgray:#333333;
$blue:#4ea6ca ;
$transparentblue: rgba(78,166,202,0.8);
$red:#CA3C3C ;
$green:#1CB841 ;
$orange:#EE8400 ;



$lightBorderUnderDiv:3px $lightgray solid;
$darkBorderUnderDiv:3px $gray solid;

$btnSmallFontSize: 80%;;
$btnLargeFontSize: 130%;;
$btnFlatFontSize: 110%;;

$size:1rem;
$h1size:1.7rem;
$h2size:1.5rem;
$h3size:1.3rem;
$h4size:1.1rem;
$h5size:1.0rem;
$h6size:0.9rem;


$navbarmargin:4%;
$navbarheight:30px;

$responsivewidthscreen:1200px;
$responsivewidthtablette:750px;