		img {
			width: 25%;
			height: auto;
		}

		.info {
			background-color: white;
			padding-top: 0.5%;
			padding-bottom: 0.5%;
			padding-left: 0.5%;
			padding-right: 0.5%;
			font-size: 150%;
			width: 100%;
			height: auto;
		}

		.menu {
			background-color: #77B753;
			text-align: center;
			padding-top: 1%;
			padding-bottom: 1%;
			padding-right: 4%;
			font-size: 125%;
		}

		#navigation {
			list-style: none;
		}

		#navigation li {
		  border: 1px solid black ;
		}

		#navigation li a {
		  display: block ;
		  background: #5f983f;
		  color: #fff ;
		  line-height: 1em ;
		  text-align: center ;
		  text-decoration: none ;
		  padding: 4px 0 ;
		}

		#navigation li a:hover, #navigation li a:focus, #navigation li a:active {
		  background: #548638 ;
		  text-decoration: none ;
		}

		#contenu {
				margin-bottom: 5%;
		}

		#tuto {
			margin-top: 1%;
			font-size: 200%;
			text-align: center;
		}

		#cat {
			margin-bottom: 1%;
			font-size: 175%;
			text-align: center;
			color: gray;
		}

		#gradient1 {
			background: linear-gradient(to right,red,orange,yellow, green, blue,indigo,violet);
		}

		#gradient2 {
			background: radial-gradient(purple, green, rgb(20, 50, 200));
		}

		#gradient3 {
			background: repeating-linear-gradient(red, yellow 10%, green 20%);
		}

		#gradient4 {
			background: repeating-radial-gradient(blue, yellow 10%, green 15%);
		}

		strong {
			font-size: 150%;
		}

		li {
			margin-left: 5%;
		}

		footer {
			background-color: #77B753;
			color: white;
			padding-top: 0.5%;
			width: 100%;
		}

		code {
		  font-family: monospace;
		  background-color: #f3f1ef;
		  color:black;
		  display: block;
		  border: solid 1px gray;
		  border-top: solid 2px #008B8B;
		  padding:15px;
		}

	#generateur {
		text-align: center;
	}

	input {
		border:0;
		border-bottom: 1px solid;
		border-bottom-color:#d01f3e;
		color:#1b1b1b;
		width:10%;
		margin-right:1%;
	}

	button {
		background:#d01f3e;
		border:0;
		width:10%;
		padding:0.3%;
		color:white;
	}

	#set {
		text-decoration:none;
		color:white;
		background:#1b1b1b;
		width:auto;
		display:inline;
		margin-top: 5%;
		padding:1% 2%;
	}

	canvas, #wallpaper {
		border:1px solid #1b1b1b;
	}
